<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/site.css">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
    <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />

    {% if page.url == '/index.html' %}
        <link rel="alternate" hreflang="en" href="/" />
    {% elsif page.url == '/index_cn.html' %}
        <link rel="alternate" hreflang="cn" href="/cn/" />
    {% endif %}

    {{ page.extra_head }}

    {% if page.category == 'blog' and page.photo %}
        <meta property="og:image" content="/assets/img/posts/{{ page.photo }}" />
    {% endif %}
    <script src='/assets/js/jquery/jquery-3.2.1.min.js'></script>
</head>