<header id="znav" class="inner header-container">
    <nav>
        <a></a>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/index.html">Home</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog.html">Blog</a>
        <a href="/book.html">Book</a>
        <a href="/timeline.html">Times</a>
        <a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume.html">Resume</a>
        <a class="{% if page.category == 'donate' %} selected {% endif %}" href="/donate.html">Donate</a>
        <a href="https://github.com/zhuyuesut">Github</a>
    </nav>
    <div class="pull-right right logo">
        <a href="http://jinny.love/"><img class="avatar" src="/assets/img/us.png" alt="me" /></a>
        <a></a>
    </div>
    <div class="clear"></div>
</header>